/* importa Poppins desde la url */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 50px solid #fff;
  border-right: 50px solid #fff;
}

.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}

.container .top .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top .imgBx .box {
  position: relative;
  width: 70%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.container .top .imgBx .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .top .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}

.container .top .profileText h3 {
  font-size: 3em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
}

.container .top .profileText h3 span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}

.container .contentBox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}

.container .contentBox h3 {
  border-left: 4px solid #ff8bb3;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
}

.container .contentBox ul {
  position: relative;
  margin: 10px 0;
}

.container .contentBox ul li {
  list-style: none;
  margin: 25px 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  display: flex;
  pointer-events: none;
}

.container .contentBox ul li span a {
  text-decoration: none;
  pointer-events: auto;
}

.container .contentBox ul li ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: #3590d2;
}

.container .contentBox ul.education li {
  flex-direction: column;
  margin: 25px 0;
  pointer-events: none;
}

.container .contentBox ul.education li a {
  position: relative;
  text-decoration: none;
  padding: 1px 13px;
  pointer-events: auto;
}

.container .contentBox ul.education li a::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 10px;
  height: 10px;
  /* convierte el cuadrado a un triangulo */
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #ff8bb3;
  transition: 0.5s;
}

h5 {
  color: #3590d2;
}

h4 {
  color: #333;
  font-weight: 500;
  margin: 5px 0;
}

h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;
}

.language li {
  flex-direction: column;
}

.language li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

.container .contentBox ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .contentBox ul.interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 2.5px;
}

.container .contentBox ul.interest li .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #3590d2;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container .contentBox ul.interest li .icon ion-icon {
  color: #fff;
  margin-right: 0;
}

p {
  font-style: 300;
}

.rightSide {
  padding-left: 40px;
}

.rightSide .about p {
  text-align: justify;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 7px 0;
}

.about .box .year_company {
  min-width: 150px;
  margin-bottom: 10px;
}

.about .box .year_company h5 {
  color: #333;
  font-weight: 600;
}

.about .box .year_company h5:nth-child(1) {
  color: #3590d2;
}

.about .box .text h4 {
  color: #3590d2;
  font-size: 16px;
  margin: 0;
}

.about.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.about.skills .box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}

.about.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
}

.about.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}
